/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
}

/* COMMON */

.container {
    width: 75%;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family:  'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 15px;
}


/* HEADER */

header {
    background-color: #ff6900;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar {
    height: 100%;
}

/* sex-section */
.sex-section ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
}

.sex-section li {
    padding-right: 10px;
}

.sex-section a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* logo */
.logo img{
    width: 20%;
}

/* user icons */
.user {
    color: white;
    width: 25%;
    justify-content: flex-end;
}

.user i {
    padding-left: 10px;
    font-size: 15px;
}


/* MAIN */

/* columns */
.columns{
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.col {
    width: calc( (100% / 3) - 20px);
    padding: 100px 0;
}

/* card content */
.product-info{
    padding-top: 5px;
}

.product-img {
    position: relative;
}
.brand {
    font-size: 15px;
}
.discounted-price {
    padding-top: 5px;
    color: red;
    font-size: 15px;
    font-weight: 600;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card-img:hover .hover-img {
    display: inline-block;
}

.old-price {
    font-size: 15px;
    text-decoration: line-through;
}

/* card tags and discount */

.product-img {
    position: relative;
}

.boxes {
    position: absolute;
    bottom: 20px;
    
}
.box {
    color: white;
    margin-right: 10px;
    padding: 5px;
    font-weight: 600;
    font-size: 12px;
}
.heart-box {
    background-color: white;
    padding: 10px;
    width: 15%;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 0;
    text-align: center;
}
.red {
    background-color: red;
}

.green {
    background-color: green;
}

/* FOOTER */

footer {
    background-color: #1a1a1a;
    padding: 30px 0;
}

.footerinfo {
    justify-content: space-between;
}

.ownerinfo h2 {
    font-size: 20px;
    color: white;
}

.ownerinfo ul {
    list-style-type: none;
}

.ownerinfo li {
    text-decoration: none;
    padding-right: 10px;
    padding-top: 10px;
}

.ownerinfo a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.socials span {
    font-size: 13px;
    color: white;
}

.social-icons {
    color: white;
    padding-right: 10px;
    font-size: 25px;
    padding-top: 10px;
}